<p>Welcome, <%=User.find(session[:user_id]).username%></p
<%Tweet.all.each do |tweet|%>
<li>The tweet: <%=tweet.content%> from <%=User.find(tweet.user_id).username%></li>
<%end%>
<p><a href="/logout">Log Out</a></p>